.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.dropdown-content * {
    display: block;
}