.navbar {
    background-color: #13904D;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    height: 60px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar > img {
    height: 50px;
    margin: 5px;
}

.navbar > h2 {
    flex-grow: 1;
    color: white;
    margin: 5px;
}