.navbar-dropdown-item {
    padding: 5px;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
    color: black;
}

.navbar-dropdown-item:hover {
    border-bottom: 1px solid gray;
    box-shadow: 0 5px 5px -5px black;
}