.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, td {
    padding: 0;
    border-bottom: 1px solid lightgray;
}

.table th {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f6f6f6;
    
}

.table th:not(:first-child), td:not(:first-child) {
    padding-left: 10px;
}

.table th:last-child, td:last-child {
    padding-right: 10px;
}

.table-row:hover {
    cursor: pointer;
    background-color: #ececec;
}
