.modal-backdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 25px;
    border-radius: 20px;
}

.modal-header {
    display: flex;
}

.modal-header div {
    flex-grow: 1;
}

.modal-header div * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-header h1 {
    font-size: 1.5em;
}

.modal-content {
    margin-top: 25px;
}