.searchbar {
    display: flex;
    flex-direction: row;
    margin-right: 25px;
}

.search-button {
    margin-right: 10px;
}

.search-text-field {
    width: 250px;
    height: 38px;
    padding: 0 5px 0 5px;
    border-radius: 5px 0px 0px 5px;
    border: none;
}

.search-text-field:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 1px gray inset;
}

.search-filter-button {
    width: 38px;
    height: 38px;
    border-radius: 0px 5px 5px 0px;
    border: none;
}

.search-filter-container {
    width: 400px;
    height: 300px;
}

.search-filter-criteria {
    display: flex;
    flex-direction: row;
}

.search-input-error {
    border: 1px solid #F44336;
    accent-color: #F44336;
}

.search-filter-errors {
    color: #F44336;
    font-size: .8em;
}